.aboutMe__article{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    background-color: #fff;
    border: 2px solid #75C2FF;

    @media (min-width: 820px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }

.aboutMe__text{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  


    &--title{
        text-transform: uppercase;
        padding: 20px;
      
    }

    &--content{
        width: 400px;
        padding:  30px;
      text-align: center;
    }

}

.aboutMe__photoContainer{
  width: 100%;
  background-color: #00AEAD;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;




    &--photo{
       width: 250px;
align-self: center;
   
    }
}
}