.header__menu{
width:100%;
    display: flex;
 
    padding: 30px 10px 30px 10px;

.liStyle{
  //margin: 0 10px 0 10px;
    padding: 10px 30px 10px 30px;
    text-transform: uppercase;
    list-style: none;
       
  
}



}
