.header__menu{
width:100%;
    display: flex;
 
    margin: 30px 50px 30px 50px;

.liStyle{
  margin: 0 10px 0 10px;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    list-style: none;
       
  
}



}
